
@font-face {
    font-family: 'League';
    src: url('fonts/leaguespartan-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'League';
    src: url('fonts/leaguespartan-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

  $brand_font: 'Praise', cursive;
  $tittle_font: 'Lobster', cursive;  
  $text_font: 'League';
  $font--button: 'Libre Baskerville'; //Bouton ou texte a voir
  

