$desktop-min-s: 0px;
$desktop-max-s: 639px;
$desktop-height-s: 455px;
@mixin h-s {
  @media (min-width: #{$desktop-min-s}) and (max-width: #{$desktop-max-s}) {
    height: $desktop-height-s;
  }
}
//med corespond a small tailwin
$desktop-min-m: 640px;
$desktop-max-m: 767px;
$desktop-height-m: 550px;
@mixin h-m {
  @media (min-width: #{$desktop-min-m}) and (max-width: #{$desktop-max-m}) {
    height: $desktop-height-m;
  }
}
//large
$desktop-min-l: 768px;
$desktop-max-l: 1023px;
$desktop-height-l: 650px;
@mixin h-l {
  @media (min-width: #{$desktop-min-l}) and (max-width: #{$desktop-max-l}) {
    height: $desktop-height-l;
  }
}
//XL
$desktop-min-xl: 1024px;
$desktop-max-xl: 1439px;
$desktop-height-xl: 700px;
@mixin h-xl {
  @media (min-width: #{$desktop-min-xl}) and (max-width: #{$desktop-max-xl}) {
    height: $desktop-height-xl;
  }
}
//xxl
$desktop-min-xxl: 1440px;
$desktop-max-xxl: 5000px;
$desktop-height-xxl: 1000px;
@mixin h-xxl {
  @media (min-width: #{$desktop-min-xxl}) and (max-width: #{$desktop-max-xxl}) {
    height: $desktop-height-xxl;
  }
}
@mixin responsive-heights {
    @include h-s;
    @include h-m;
    @include h-l;
    @include h-xl;
    @include h-xxl;
  }

