@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/hauteur';
//

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {

width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

  //Section nav
nav{
  .perfectum--font{
    font-family: $brand_font;
    color: $yellow;
  }

.font--button{
  font-family: $font--button;
}
}

//Section carousselle

.secCarousselle{
  @include  responsive-heights;
  background-color: $blue;
  }


//   .divCarouselle{
//    width: 750px;
//    height: 500px;
//  }
// }


.secPresentation{
  height: 900px;

.divStory__left--text{
font-family:  $text_font;
strong{
color: $orange;
    }
}
}

.secFournisseur{
 height: 900px;
}


  
//  $brand_font: 'Praise', cursive;
//   $tittle_font: 'Lobster', cursive;  
//   $text_font: 'League';
//   $font--button: 'Libre Baskerville'; //Bouton ou texte a voir
