@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/hauteur';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Section nav

.divNavBar {
  background-color: $blue;
  .button-active {
    color: black;
  }
}

// Section carrousel

.secCarousselle {
  @include responsive-heights;
  background-color: rgb(46, 143, 220);
  .ombre {
    box-shadow: 0px 20px rgba($color: rgb(255, 255, 255), $alpha: 0.3);
  }
  h1 {
    font-family: $tittle_font;
  }
}

.secPresentation {
  height: 1150px;

  .divStory__left--text {
    @include smallTextStyles;
    @include medTextStyles;
    @include largeTextStyles;
    font-family: $font--button;
    line-height: 60px;
    word-spacing: 20px;

    strong {
      color: $orange;
    }
  }
}

.secFournisseur {
  height: 500px;
  background-color: $blue;

  &Div {
    font-family: $font--button;

    h2 {
      font-family: $brand_font;
    }
  }
}

.footer__droit--span {
  font-family: $font--button;
}

// Page de service style

.fireSection {
  background-color: $orange;

  .secServicesAllSamePlace {
    h2 {
      font-family: $brand_font;
    }

    h3 {
      font-family: $tittle_font;

      span {
        font-family: $brand_font;
      }
    }

    #h3__font {
      font-family: $font--button;
    }

    p {
      font-family: $font--button;
    }
  }
}

.sectionWeb {
  height: 800px;

  img {
    box-shadow: 18px 20px rgba($color: rgb(0, 0, 0), $alpha: 0.8);
  }

  &__text {
    font-family: $font--button;

    h2 {
      color: $orange;
      font-family: $tittle_font;
    }
  }
}

.sectionScreen {
  height: 800px;

  img {
    box-shadow: 18px 20px rgba($color: rgb(0, 0, 0), $alpha: 0.8);
  }

  &__text {
    font-family: $font--button;

    h2 {
      color: $orange;
      font-family: $tittle_font;
    }
  }
}

.sectionVideos {
  background-color: $orange;
  min-height: 800px;

  h2 {
    font-family: $tittle_font;
  }
}

// Page de contact

.handShake {
  background-color: $blue;

  h1 {
    font-family: $tittle_font;
  }

  img {
    box-shadow: 14px 16px rgba($color: rgb(0, 0, 0), $alpha: 0.9);
  }
}

// Début form

.secMapForm {
  h2 {
    font-family: $tittle_font;
  }
  span {
    color: $blue;
    font-family: $brand_font;
  }
}

.input-control.error input {
  border: 3px dashed red;
}

.input-control.error textarea {
  border: 3px dashed red;
}


.input-control .errorMessage {
  color: red;
}

.input-control.success input {
  border: 3px dashed green;
}

.input-control.success textarea {
  border: 3px dashed green;
}

.secMap {
  background-color: $blue;

  h1 {
    font-family: $tittle_font;
  }
}

.sectionForfait{
  h2{
    font-family: $tittle_font;
  }
  h3{
    font-family: $tittle_font;
  }
  p{
    font-family: $font--button;
  }
}
