body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.divNavBar {
  background-color: rgb(46, 163, 220);
}
.divNavBar .button-active {
  color: black;
}

.secCarousselle {
  background-color: rgb(46, 143, 220);
}
@media (min-width: 0px) and (max-width: 639px) {
  .secCarousselle {
    height: 455px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .secCarousselle {
    height: 550px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .secCarousselle {
    height: 650px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .secCarousselle {
    height: 700px;
  }
}
@media (min-width: 1440px) and (max-width: 5000px) {
  .secCarousselle {
    height: 1000px;
  }
}
.secCarousselle .ombre {
  box-shadow: 0px 20px rgba(255, 255, 255, 0.3);
}
.secCarousselle h1 {
  font-family: "Lobster", cursive;
}

.secPresentation {
  height: 1150px;
}
.secPresentation .divStory__left--text {
  font-family: "Libre Baskerville";
  line-height: 60px;
  word-spacing: 20px;
}
@media (min-width: 1px) and (max-width: 767px) {
  .secPresentation .divStory__left--text {
    line-height: 28px;
    word-spacing: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .secPresentation .divStory__left--text {
    line-height: 30px;
    word-spacing: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 5000px) {
  .secPresentation .divStory__left--text {
    line-height: 40px;
    word-spacing: 12px;
  }
}
.secPresentation .divStory__left--text strong {
  color: rgb(239, 83, 35);
}

.secFournisseur {
  height: 500px;
  background-color: rgb(46, 163, 220);
}
.secFournisseurDiv {
  font-family: "Libre Baskerville";
}
.secFournisseurDiv h2 {
  font-family: "Praise", cursive;
}

.footer__droit--span {
  font-family: "Libre Baskerville";
}

.fireSection {
  background-color: rgb(239, 83, 35);
}
.fireSection .secServicesAllSamePlace h2 {
  font-family: "Praise", cursive;
}
.fireSection .secServicesAllSamePlace h3 {
  font-family: "Lobster", cursive;
}
.fireSection .secServicesAllSamePlace h3 span {
  font-family: "Praise", cursive;
}
.fireSection .secServicesAllSamePlace #h3__font {
  font-family: "Libre Baskerville";
}
.fireSection .secServicesAllSamePlace p {
  font-family: "Libre Baskerville";
}

.sectionWeb {
  height: 800px;
}
.sectionWeb img {
  box-shadow: 18px 20px rgba(0, 0, 0, 0.8);
}
.sectionWeb__text {
  font-family: "Libre Baskerville";
}
.sectionWeb__text h2 {
  color: rgb(239, 83, 35);
  font-family: "Lobster", cursive;
}

.sectionScreen {
  height: 800px;
}
.sectionScreen img {
  box-shadow: 18px 20px rgba(0, 0, 0, 0.8);
}
.sectionScreen__text {
  font-family: "Libre Baskerville";
}
.sectionScreen__text h2 {
  color: rgb(239, 83, 35);
  font-family: "Lobster", cursive;
}

.sectionVideos {
  background-color: rgb(239, 83, 35);
  min-height: 800px;
}
.sectionVideos h2 {
  font-family: "Lobster", cursive;
}

.handShake {
  background-color: rgb(46, 163, 220);
}
.handShake h1 {
  font-family: "Lobster", cursive;
}
.handShake img {
  box-shadow: 14px 16px rgba(0, 0, 0, 0.9);
}

.secMapForm h2 {
  font-family: "Lobster", cursive;
}
.secMapForm span {
  color: rgb(46, 163, 220);
  font-family: "Praise", cursive;
}

.input-control.error input {
  border: 3px dashed red;
}

.input-control.error textarea {
  border: 3px dashed red;
}

.input-control .errorMessage {
  color: red;
}

.input-control.success input {
  border: 3px dashed green;
}

.input-control.success textarea {
  border: 3px dashed green;
}

.secMap {
  background-color: rgb(46, 163, 220);
}
.secMap h1 {
  font-family: "Lobster", cursive;
}

.sectionForfait h2 {
  font-family: "Lobster", cursive;
}
.sectionForfait h3 {
  font-family: "Lobster", cursive;
}
.sectionForfait p {
  font-family: "Libre Baskerville";
}/*# sourceMappingURL=main.css.map */